.arrow-1 {
    width:100px;
    height:30px;
    display: flex;
  }
  .arrow-1:before {
    content: "";
    background: currentColor;
    width:15px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a1 1.5s infinite linear;
  }
  @keyframes a1 {
    90%,100%{flex-grow: 1}
  }


  .list-group-item{
    background-color: aquamarine;
  }

  .list-group-item:active{
    background-color: aquamarine;
  }